<div class="update-question__answers">
    {{#ifEquals type 1}}
        {{#each ../answers}}
            <div class="update-question__answers-item">
                <input class="update-question__answers-item-radio" id="update-question__answers-item-radio" type="radio" disabled></input>
                <input class="update-question__answers-item-input" id="{{id}}" placeholder="Новый ответ" type="text" value="{{text}}" maxlength="64"></input>
                <span class="material-symbols-outlined update-question__answers-item-delete" id="{{id}}">delete</span>
            </div>
        {{/each}}
    {{/ifEquals}}
    {{#ifEquals type 2}}
        {{#each ../answers}}
            <div class="update-question__answers-item">
                <input class="update-question__answers-item-checkbox" id="update-question__answers-item-checkbox" type="checkbox" disabled></input>
                <input class="update-question__answers-item-input" id="{{id}}" placeholder="Новый ответ" type="text" value="{{text}}" maxlength="64"></input>
                <span class="material-symbols-outlined update-question__answers-item-delete" id="{{id}}">delete</span>
            </div>
        {{/each}}
    {{/ifEquals}}
    {{#ifEquals type 3}}
        <div class="update-question__answers-item">
<!--            <textarea class="update-question__answers-item-textarea" id="{{answers.id}}" placeholder="Поле для ответа" maxlength="512" disabled></textarea>-->
        </div>
    {{/ifEquals}}
</div>