{{#if question}}
    <div class="check-question">
        <h3 class="check-question__description-title">{{question.title}}</h3>
        <p class="check-question__description-text">{{question.description}}</p>
        <div class="check-question__answer" id="question-answer">
            {{#ifEquals question.type 1}}
                <div class="check-question__answers" id="check-question_{{../question.id}}__answers">
                    {{#each ../question.answers}}
                        <div class="check-question__answer-item">
                            <input class="check-question__answer-item-radio" id="check-question_{{../../question.id}}_answer-item_{{id}}" type="radio">
                            <label class="check-question__answer-item-label" for="check-question_{{../../question.id}}_answer-item_{{id}}">{{text}}</label>
                        </div>
                    {{/each}}
                </div>
            {{/ifEquals}}
            {{#ifEquals question.type 2}}
                <div class="check-question__answers" id="check-question_{{../question.id}}__answers">
                    {{#each ../question.answers}}
                        <div class="check-question__answer-item">
                            <input class="check-question__answer-item-checkbox" id="check-question_{{../../question.id}}_answer-item_{{id}}" type="checkbox">
                            <label class="check-question__answer-item-label" for="check-question_{{../../question.id}}_answer-item_{{id}}">{{text}}</label>
                        </div>
                    {{/each}}
                </div>
            {{/ifEquals}}
            {{#ifEquals question.type 3}}
                <p class="check-question__required-title display-none" id="check-question-validation-error">Текст должен состоять из русских или английских слов, цифр и знаков препинания</p>
                <div class="check-question__answer-item">
                    <textarea class="check-question__answers-item-textarea" id="check-question_{{../question.id}}_answers-item" placeholder="Развернутый ответ" maxlength="512"></textarea>
                </div>
            {{/ifEquals}}
        </div>
        <div class="button-container">
            <span class="material-symbols-outlined update-question__question-delete" id="check-question__clear-button">delete</span>
            {{#ifEquals question.required true}}
                <p class="check-question__required-title">Это обязательный вопрос</p>
            {{/ifEquals}}
        </div>
    </div>
{{/if}}
